[submodule "pack/plugins/start/vim-sublime-monokai"]
	path = pack/plugins/start/vim-sublime-monokai
	url = https://github.com/ErichDonGubler/vim-sublime-monokai.git
[submodule "pack/plugins/start/editorconfig-vim"]
	path = pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/plugins/start/vim-javascript"]
	path = pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/plugins/start/vim-multiple-cursors"]
	path = pack/plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/vim-rhubarb"]
	path = pack/plugins/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "pack/plugins/start/xterm-color-table"]
	path = pack/plugins/start/xterm-color-table
	url = https://github.com/guns/xterm-color-table.vim.git
[submodule "pack/plugins/start/vim-rails"]
	path = pack/plugins/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "pack/plugins/start/open-pdf.vim"]
	path = pack/plugins/start/open-pdf.vim
	url = https://github.com/rhysd/open-pdf.vim.git
[submodule "pack/plugins/start/diffchar.vim"]
	path = pack/plugins/start/diffchar.vim
	url = https://github.com/rickhowe/diffchar.vim.git
[submodule "pack/plugins/start/csv.vim"]
	path = pack/plugins/start/csv.vim
	url = https://github.com/chrisbra/csv.vim
